$("#tweetModal").modal("hide");
$("#timelineModal").modal("hide");
$("#replysModal").modal("hide");
$("#successModalBody").empty();
$("#successModalBody").append( `\
    <blockquote class="mb-0">
      <%= link_to "https://twitter.com/#{@response.user.screen_name}", class: "u-link" do %>
        <div class="tweet-head">
          <%= image_tag @response.user.profile_image_url.to_s, class: "avater" %>
          <div class="author">
            <span class="twitter-name"><%= @response.user.name %></span>
            <span class="form-text text-muted twitter-screen-name">@<%= @response.user.screen_name %></span>
          </div>
        </div>
      <% end %>
      <div class="tweet-body">
        <p class="tweet-text">
          <%= @response.text %>
        </p>
        <div class="tweet-footer">
          <%= link_to "https://twitter.com/Interior/status/#{@response.id}?ref_src=twsrc%5Etfw", class: "tweet-date u-link" do %>
            <%= @response.created_at.strftime("%H:%M - %Y年%m月%d日") %>
          <% end %>
        </div>
      </div>
    </blockquote>
    `);
$("#successModal").modal();
