<%= form_for character, class: "form-horizontal panel" do |f| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :name, class: "col-md-2 col-md-offset-1" %>
    <div class="col-md-6">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :anime_id, class: "col-md-2 col-md-offset-1" %>
    <div class="col-md-6">
      <%= f.select :anime_id, @animes.map{|s| [s.title, s.id]}, {}, class: "form-control" %>
    </div>
    <div class="col-md-3" style="text-align:left;">
      <%= link_to "アニメ登録", new_anime_path, class: "btn btn-default" %>
    </div>
  </div>

  <div>
    <%= f.submit "保存", class: "btn btn-primary" %>
  </div>
<% end %>
