<%= form_for anime, class: "form-horizontal panel" do |f| %>
  <% if anime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anime.errors.count, "error") %> prohibited this anime from being saved:</h2>

      <ul>
      <% anime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :title, class: "col-md-2 col-md-offset-1"  %>
    <div class="col-md-6">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :year, class: "col-md-2 col-md-offset-1"  %>
    <div class="col-md-6">
      <%= f.select :year, years_for_select, {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :season_id, class: "col-md-2 col-md-offset-1"  %>
    <div class="col-md-6">
      <%= f.select :season_id, Season.all.map{|s| [s.name, s.id] }, {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :studio_id, class: "col-md-2 col-md-offset-1" %>
    <div class="col-md-6">
      <%= f.select :studio_id, @studios.map{|s| [s.name, s.id]}, {}, class: "form-control" %>
    </div>
    <div class="col-md-3" style="text-align:left;">
      <%= link_to "制作登録", new_studio_path, class: "btn btn-default" %>
    </div>
  </div>

  <div class="center">
    <%= f.submit "保存", class: "btn btn-primary" %>
  </div>
<% end %>
