<script>
  $("#photo").change(function() {
    $('#photoCoverTextField').val($(this).val());
  });
  $("#browser-btn").on("click", function(){
    $("#photo").click();
  });

  $('form').on('change', 'input[type="file"]', function(e) {
    var file = e.target.files[0],
        reader = new FileReader(),
        $preview = $(".cap_image");

    // 画像ファイル以外の場合は何もしない
    if(file.type.indexOf("image") < 0){
      return false;
    }

    // ファイル読み込みが完了した際のイベント登録
    reader.onload = (function(file) {
      return function(e) {
        //既存のプレビューを削除
        $preview.empty();
        //.prevewの領域の中にロードした画像を表示するimageタグを追加
        $preview.append($('<img>').attr({
                  src: e.target.result,
                  width: "300px",
                  class: "cap_image center",
                  title: file.name
              }));
      };
    })(file);

    reader.readAsDataURL(file);
  });
</script>

<%= form_for @picture, class: "form-horizontal panel" do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %>prohibited this picture from being saved:</h2>
      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :name, "タイトル", class: "col-sm-2 col-sm-offset-1" %>
    <div class="col-sm-6"><%= f.text_field :name, class: "form-control" %></div>
  </div>

  <div class="form-group row">
    <%= f.label :tag_list, "タグ(カンマ区切り)", class: "col-sm-2 col-sm-offset-1" %>
    <div class="col-sm-6">
      <%= text_field_tag 'picture[tag_list]', @picture.tag_list.join(', '), "data-role" => "tagsinput", class: "form-control" %>
    </div>
    <script>
      $(function() {
        $("input[data-role=tagsinput], select[multiple][data-role=tagsinput]").tagsinput();
      });
    </script>
  </div>

  <div class="form-group row">
    <%= f.label :photo, "画像", class: "col-sm-2 col-sm-offset-1" %>
    <div class="col-sm-6">
      <%= f.file_field :photo, id: "photo", style: "display:none" %>
      <div class="input-group">
        <input type="text" id="photoCoverTextField" class="form-control" placeholder="select file...">
        <span class="input-group-btn"><button type="button" class="btn btn-info" id="browser-btn">Browse</button></span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="center cap_image"><%= @picture.photo.present? ? image_tag(@picture.photo.url(:large)) : "no Image" %></div>
  </div>

  <div class="center">
    <%= f.submit "保存", class: "btn btn-primary" %>
  </div>
<% end %>
