<%= form_for picture, class: "form-horizontal panel" do |f| %>
  <%= render partial: "common/errors", locals: {form: picture} %>

  <!-- <div class="form-group row">
    <%= f.label :name, "タイトル", class: "col-md-3 form-label" %>
    <div class="col-md-6">
      <%= f.text_field :name, class: "form-control", id: "title-form" %>
    </div>
  </div> -->

  <div class="form-group row">
    <%= label_tag :anime_title, "アニメタイトル", class: "col-md-3 form-label" %>
    <div class="col-md-6">
      <%= text_field_tag :anime_title, @anime.try(:title), class: "form-control", id: "anime-text", autocomplete: :off %>
      <ul id="anime-suggest" class="list-group suggest" style="display:none;"></ul>
    </div>
    <div class="col-md-3" style="text-align:left;">
      <%= link_to "アニメ登録", new_anime_path, class: "btn btn-default" %>
    </div>
  </div>

  <div class="form-group row">
    <%= label_tag :character_names, "キャラ(ｶﾝﾏ/enter区切り)", class: "col-md-3 form-label" %>
    <div class="col-md-6">
      <%= text_field_tag :character_names, @characters.try(:map, &:name).try(:join, ', '), "data-role" => "tagsinput", class: "form-control" %>
    </div>
    <div class="col-md-3" style="text-align:left;">
      <%= link_to "キャラ登録", new_character_path, class: "btn btn-default" %>
    </div>
  </div>

  <div class="form-group row">
    <%= label_tag "emotions[]", "感情(複数可)", class: "col-md-3 form-label" %>
    <div class="col-md-6">
      <div class="btn-group" data-toggle="buttons">
      <% Emotion.all.each do |emotion| %>
        <label class="btn btn-default <%= "active" if picture.tag_list.include?(emotion.name) %>">
          <%= check_box_tag 'emotions[]', emotion.id %>
          <%= emotion.name %>
        </label>
      <% end %>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :tag_list, "タグ(ｶﾝﾏ/enter区切り)", class: "col-md-3 form-label" %>
    <div class="col-md-6">
      <%= text_field_tag 'picture[tag_list]', picture.tag_list.join(', '), "data-role" => "tagsinput", class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :photo, "画像", class: "col-md-3 form-label" %>
    <div class="col-md-6">
      <%= f.file_field :photo, id: "photo", style: "display:none" %>
      <div class="input-group">
        <input type="text" id="photoCoverTextField" class="form-control" placeholder="select file...">
        <span class="input-group-btn"><button type="button" class="btn btn-info" id="browser-btn">Browse</button></span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="cap-image"><%= picture.photo.present? ? image_tag(picture.photo.url(:large)) : "no Image" %></div>
  </div>

  <div>
    <%= f.submit "保存", class: "btn btn-primary" %>
  </div>
<% end %>

<!-- アニメ入力処理 -->
<script>
  $(function() {
    var anime_list = [
      <% @animes.each do |anime| %>
      "<%= anime.title %>",
      <% end %>
    ];
    new Suggest.Local(
          "anime-text",
          "anime-suggest",
          anime_list,
          {
            dispMax: 10,
            interval: 1000,
            listTagName: "li",
            classMouseOver: "over list-group-item",
            classSelect: "select list-group-item",
            defaultClass: "list-group-item"
          });
  });
</script>


<!-- タグ入力処理 -->
<script>
  $(function() {
    $("input[data-role=tagsinput], select[multiple][data-role=tagsinput]").tagsinput();
  });
</script>

<!-- 画像読み込み処理 -->
<script>
  $("#photo").change(function() {
    $('#photoCoverTextField').val($(this).val());
  });
  $("#browser-btn").on("click", function(){
    $("#photo").click();
  });

  $('form').on('change', 'input[type="file"]', function(e) {
    var file = e.target.files[0],
        reader = new FileReader(),
        $preview = $(".cap-image");

    // 画像ファイル以外の場合は何もしない
    if(file.type.indexOf("image") < 0){
      return false;
    }

    // ファイル読み込みが完了した際のイベント登録
    reader.onload = (function(file) {
      return function(e) {
        //既存のプレビューを削除
        $preview.empty();
        //.prevewの領域の中にロードした画像を表示するimageタグを追加
        $preview.append($('<img>').attr({
                  src: e.target.result,
                  class: "cap-image center",
                  title: file.name
              }));
      };
    })(file);

    reader.readAsDataURL(file);
  });
</script>
