<div class="col-md-6 col-md-offset-3" style="text-align: center;">

  <div>
    開発中確認用ID：<%= @picture.id %>
    <%= @picture.name %>
  </div>

  <ul class="list-inline" style="text-align: right;">
    <% emotion = Emotion.find(@picture.emotion_id) %>
    <% if emotion.present? %>
      <li class="btn btn-primary"><%= "#{emotion.ja_name} #{emotion.icon}" %></li>
    <% end %>
    <li><%= link_to '編集', edit_picture_path(@picture), class: "btn btn-primary" %></li>
    <li><%= link_to '削除', @picture, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-outline" %></li>
  </ul>

  <div class="show-img">
    <%= link_to image_tag(@picture.photo.url(:large), id: "photo") , @picture.photo.url(:original), target: ["_blank"] %>
  </div>

  <div class="tag-list">
    <ul class="list-inline">
      <li>
        <span class="glyphicon glyphicon-tags" aria-hidden="true" id="tag-icon"></span>
      </li>
      <% @picture.tag_list.each do |tag| %>
        <li>
          <span class="label label-primary">
            <%= link_to tag, pictures_path(search: tag), class: "tag" %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <table class="table table-striped">
    <tr>
      <td>アニメタイトル</td>
      <td><%= @anime.try(:title) || "-" %></td>
    </tr>
    <% @characters.each_with_index do |character, i| %>
      <% if i == 0 %>
        <tr>
          <td>登場キャラ</td>
          <td><%= character.name %></td>
        </tr>
      <% else %>
        <tr>
          <td></td>
          <td><%= character.name %></td>
        </tr>
      <% end %>
    <% end %>
  </table>



</div>
